.pokemon-details-wrapper{

    display: flex;
    flex-direction: column;

}

.pokemon-details-image{
    margin-top: 50px;
}

.pokemon-details-name{
    font-weight: bolder;
    font-size: xx-large;
}

.pokemon-details-weight, .pokemon-details-height, .pokemon-details-types-heading {
    margin: 1% 1% 1% 0%;
 font-size: larger;
}

.pokemon-details-name > span {
    letter-spacing: 0.4rem;
}

.pokemon-details-types{
display: grid;
margin-top: 0.5rem;
}

.pokemon-details-types > li {
    border: 1px solid gainsboro;
    font-size: large;
    background-color: gainsboro;
    padding: 0.8%;
}